<%= form_with(model: @task, local: true, method: @task.persisted? ? :patch : :post) do |form| %>
  <div class="input-group mb-3">
    <div class="input-group-text">
      <%= form.check_box :done %>
    </div>
    <%= form.text_field :title, class:'form-control' %>
      
      <%= form.submit class:'btn btn-outline-secondary'%>
  </div>
<% @task.errors.full_messages_for(:title).each do |message| %>
        <div class="text-danger"><i class="bi bi-exclamation-circle-fill"></i> <%= message %></div>
      <% end %>

<% end %>
